# Ignore Everything but..
*

!/**/

!*.sln
!/**/**/*.sln

!/installer/**/*.bat
!/installer/**/*.lnk

!/**/**/*.ico
/res/

!*.cs
!/**/**/*.cs

!*.csproj
!/**/**/*.csproj

#allow README.md and this file
!README.md
!.gitignore
!LICENSE


